@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/btnaboutus.css" asp-append-version="true" />


<div class="container0 naslovnaslika">
    <img src="img/img2.jpg" style="width:100%;"/>
</div>

<div class="container0 poiret naslovsadrzaj">
    <h1>
        <a><i class="material-icons naslovnaikonica">whatshot</i></a>
    </h1>
    <h1 class="firegymnaslov">
        <strong>Fire</strong>Gym
    </h1>
    <div class="nasateretanaje">
        <h2 id="rotatingtext">Naša teretana je najbolja</h2>
    </div>


    <a href="#kontakt">
    <button class="btn naslovnabtn">
        Kontakt 
    </button>
    </a>


</div>

<div class="container20 poiret text1">
    Naša teretana vam nudi pet pažljivo osmišljenih paketa koji odgovaraju različitim potrebama i ciljevima. U ponudi su Light Green paket, Green paket, Dark Green paket, Forest Green paket i ekskluzivni Premium Orange paket. Odaberite onaj koji najbolje odgovara vašem stilu života i započnite put ka zdravijem i snažnijem telu.
</div>

<!--  Paketi  -->
<div class="row package" >
    <div class="e-card playing">
        <div class="image"></div>
        <div class="wave wave1"></div>
        <div class="wave wave1"></div>
        <div class="wave wave1"></div>
        <div><i class="material-icons cardicon">whatshot</i></div>
        <div class="infotop">
            Light-green
            <br>
            <ul>
                <li>
                    12 treninga mesecno
                </li>
                <li>
                    Pristup svim spravama
                </li>
                <li>
                    Od 8-16h radnim danom
                </li>
                <li>
                    Osnovna podrška od strane trenera
                </li>
            </ul>
            <div class="name">3000 din/mesečno</div>
        </div>
    </div>

    <div class="e-card playing">
        <div class="image"></div>
        <div class="wave wave2"></div>
        <div class="wave wave2"></div>
        <div class="wave wave2"></div>
        <div><i class="material-icons cardicon">whatshot</i></div>
        <div class="infotop">
            Green
            <br>
            <ul>
                <li>
                    16 treninga mesecno
                </li>
                <li>
                    Pristup svim spravama
                </li>
                <li>
                    Od 8-16h svakim danom
                </li>
                <li>
                    Podrška trenera na svakom treningu
                </li>
            </ul>
            <div class="name">4500 din/mesečno</div>
        </div>
    </div>

    <div class="e-card playing">
        <div class="image"></div>
        <div class="wave wave3"></div>
        <div class="wave wave3"></div>
        <div class="wave wave3"></div>
        <div><i class="material-icons cardicon">whatshot</i></div>
        <div class="infotop">
            Forest-green
            <br>
            <ul>
                <li>
                    20 treninga mesecno
                </li>
                <li>
                    Pristup grupnim treninzima
                </li>
                <li>
                    Od 8-20h svakim danom
                </li>
                <li>
                    Podrška trenera na svakom treningu
                </li>
            </ul>
            <div class="name">5000 din/mesečno</div>
        </div>
    </div>

    <div class="e-card playing">
        <div class="image"></div>
        <div class="wave wave4"></div>
        <div class="wave wave4"></div>
        <div class="wave wave4"></div>
        <div><i class="material-icons cardicon">whatshot</i></div>
        <div class="infotop">
            Dark-green
            <br>
            <ul>
                <li>
                    24 treninga mesecno
                </li>
                <li>
                    Pristup grupnim treninzima
                </li>
                <li>
                    24/7 radnim danima
                </li>
                <li>
                    Personalizovani plan treninga i ishrane
                </li>
            </ul>
            <div class="name">7500 din/mesečno</div>
        </div>
    </div>

    <div class="e-card playing">
        <div class="image"></div>
        <div class="wave wave5"></div>
        <div class="wave wave5"></div>
        <div class="wave wave5"></div>
        <div><i class="material-icons cardicon">whatshot</i></div>
        <div class="infotop">
            Orange-PREMIUM
            <br>
            <ul>
                <li>
                   Neogranicen broj treninga
                </li>
                <li>
                    Personalni i grupni treninzi
                </li>
                <li>
                    24/7 svakim danom
                </li>
                <li>
                    Besplatna analiza napretka svaka dva meseca
                </li>
            </ul>
            <div class="name">12000 din/mesečno</div>
        </div>
    </div>
</div>


<div class="container20 poiret center text2">
    <hr />
    *Svaki od navedenih paketa moguće je kupiti i na duži vremenski period od 3/6/12 meseci pri čemu ostvarujete popust od 5%/10%/20%
    <hr />
</div>


<div class="ab1 container20" style="margin-bottom:100px;">
    <div class="row">
        <div class="col-7 s12 m6 aboutus">
            <h1>
                O nama:
            </h1>
            <p class="aboutustext">
                Naša teretana je idealno mesto za sve koji žele da poboljšaju svoju fizičku kondiciju i postignu svoje ciljeve. Sa modernim aparatima i profesionalnim trenerima, pružamo personalizovane treninge koji odgovaraju vašim potrebama i ciljevima. Prostori su prostrani, svetli i opremljeni najnovijom opremom, pružajući prijatno okruženje za vežbanje. Osim toga, u ponudi imamo grupne časove, savete o ishrani i dodatke za još brži napredak. Posvećeni smo stvaranju zajednice u kojoj se osećate motivisano i podržano. Pridružite nam se i ostvarite svoje fitness ciljeve!
            </p>
            <hr / style="color:orange">
            <p class="aboutusadress">
               Veljka Petrovic 6, Novi Sad
            </p>
        </div>
        <div class="col s12 m6 vinjeta">
            <img src="~/img/img8.jpg" alt="About Us Image" class="responsive-img z-depth-2 ">
        </div>
    </div>
</div>

<div class="ab2 container20" style="margin-bottom:100px;">
        <div class="aboutus">
            <h1>
                O nama:
            </h1>
            <p class="aboutustext">
                Naša teretana je idealno mesto za sve koji žele da poboljšaju svoju fizičku kondiciju i postignu svoje ciljeve. Sa modernim aparatima i profesionalnim trenerima, pružamo personalizovane treninge koji odgovaraju vašim potrebama i ciljevima. Prostori su prostrani, svetli i opremljeni najnovijom opremom, pružajući prijatno okruženje za vežbanje. Osim toga, u ponudi imamo grupne časove, savete o ishrani i dodatke za još brži napredak. Posvećeni smo stvaranju zajednice u kojoj se osećate motivisano i podržano. Pridružite nam se i ostvarite svoje fitness ciljeve!
            </p>
            <hr/ style="color:orange">
            <p class="aboutusadress">
                Veljka Petrovic 6, Novi Sad
            </p>
        </div>
</div>


<div class="container20">
    <div class="row">
        <div class="col s12 m6 l3 center-align">
            <div class="trainer">
                <img src="img/trener2.jpg" alt="Trener 1" class="circle responsive-img">
                <h6>Marko Petrović</h6>
                <a href="mailto:markopetrovic@firegym.com">markopetrovic@firegym.com</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center-align">
            <div class="trainer">
                <img src="img/trener1.jpg" alt="Trener 1" class="circle responsive-img">
                <h6>Milica Lazić</h6>
                <a href="mailto:milicailic@firegym.com">milicailic@firegym.com</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center-align">
            <div class="trainer">
                <img src="img/trener3.jpg" alt="Trener 1" class="circle responsive-img">
                <h6>Petar Jovanović</h6>
                <a href="mailto:petarjovanovic@firegym.com">petarjovanovic@firegym.com</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center-align">
            <div class="trainer">
                <img src="img/trener4.jpg" alt="Trener 1" class="circle responsive-img">
                <h6>Jovan Nikolić</h6>
                <a href="mailto:jovannikolic@firegym.com">jovannikolic@firegym.com</a>
            </div>
        </div>
    </div>
</div>

<div class="container20 poiret center text2">
    <hr />
    * U našoj teretani rade najstručniji treneri, posvećeni vašem napretku, profesionalci vrhunskih kvaliteta koji su gore pomenuti.
    <hr />
</div>


<div class="stats-container">

    <div class="stat">
        <p>Prodatih paketa godišnje</p>
        <span id="members" class="count">0</span>
    </div>

    <div class="stat">
        <p>Profesionalnih sprava</p>
        <span id="equipment" class="count">0</span>
    </div>

    <div class="stat">
        <p>Broj godišnjih poseta</p>
        <span id="membersjoin" class="count">0</span>
    </div>

</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="img/img5.jpg" alt="Background Image" id="kontakt">
    </div>
</div>

<div>
    <div class="form">
        <h5 class="h5">Kontaktirajte nas</h5>
        <form id="contactForm">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" required>
                    <label for="name">Puno ime</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea" required></textarea>
                    <label for="message">Poruka</label>
                </div>
                <div class="col s12" style="padding-top:30px">
                    <button class="btn waves-effect waves-light" type="submit">Pošaljite</button>
                </div>
        </form>
    </div>

</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="img/img6.jpg" alt="Background Image">
    </div>
</div>


<script>
    const texts = [
        "Naša teretana je najbolja",
        "Naši treneri su profesionalni",
        "Najbolji rezultati uz nas",
        "Ugodan ambijent za vežbanje",
        "Pridružite se našoj zajednici",
        "Isprobajte vrhunsku opremu"
    ];

    let currentIndex = 0;
    const textElement = document.getElementById("rotatingtext");

    function rotateText() {
        currentIndex = (currentIndex + 1) % texts.length; // Povećava indeks i resetuje na 0 kad dostigne kraj
        textElement.textContent = texts[currentIndex];
    }

    setInterval(rotateText, 3000); // Poziva funkciju svakih 3000ms (3 sekunde)

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.parallax');
        M.Parallax.init(elems);
    });


    $(document).ready(function () {
        $('.parallax').parallax();
    });

</script>



<script>

    document.addEventListener("DOMContentLoaded", () => {
        const stats = [
            { id: "members", target: 25000 },
            { id: "membersjoin", target: 3825000 },
            { id: "equipment", target: 370 },
        ];

        const observer = new IntersectionObserver(
            (entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        startCounting(); // Pokreni brojanje kada sekcija postane vidljiva
                        observer.disconnect(); // Isključi observer nakon što se animacija pokrene
                    }
                });
            },
            { threshold: 0.5 } // Pokreće se kada je 50% elementa vidljivo
        );

        const statsContainer = document.querySelector(".stats-container");
        observer.observe(statsContainer);

        function startCounting() {
            stats.forEach(stat => {
                const element = document.getElementById(stat.id);
                let count = 0;
                const speed = Math.ceil(stat.target / 200);

                const updateCounter = () => {
                    count += speed;
                    if (count >= stat.target) {
                        element.textContent = stat.target.toLocaleString() + "+"; // Dodaj "+"
                        return; // Prekini animaciju
                    }
                    element.textContent = count.toLocaleString(); // Formatiranje brojeva
                    requestAnimationFrame(updateCounter);
                };

                updateCounter();
            });
        }
    });

</script>